<!-- <p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @map.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @map.subtitle %>
</p>

<p>
  <strong>Meta Data:</strong>
  <%= @map.meta_data %>
</p> -->

<%= link_to 'Edit', edit_map_path(@map) %> |
<%= link_to 'Back', maps_path %>

<script src="http://code.highcharts.com/maps/highmaps.js"></script>
<script src="http://code.highcharts.com/maps/modules/exporting.js"></script>
<script src="http://code.highcharts.com/mapdata/countries/us/us-all-all.js"></script>

<div id="container"></div>
