<h1>Records</h1>

<p>
  Download:
  <%= link_to "CSV", records_path(format: "csv") %> |
  <%= link_to "Excel", records_path(format: "xls") %>
</p>

<table id="records">
  <tr>
    <th>fips</th>
    <th>value</th>
    <th>value</th>
    <th>user</th>
    <th>study</th>
    <th>map</th>
  </tr>
<% @records.each do |record| %>
  <tr>
    <td><%= record.fips %></td>
    <td><%= record.value %></td>
    <td><%= record.user.name %></td>
    <td><%= record.study.title %></td>
    <td><%= record.map.title %></td>
  </tr>
<% end %>
</table>

<h2>Import Records</h2>

<%= form_tag import_records_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Import" %>
<% end %>
